/* You can add global styles to this file, and also import other style files */


@import url('https://fonts.googleapis.com/css?family=Dosis|Homenaje');

/* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.visually-hidden {
  position: absolute !important;
  height: 1px; width: 1px; 
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: 'Homenaje', sans-serif;
  height: 100vh;
}

body {

  background: linear-gradient(to right, rgb(20, 74, 155), rgb(45, 109, 206));
  margin: 0;
  height: 100vh;

  & > :first-child {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

h2,
h3 {
  font-family: Dosis;
  font-weight: 400;
  letter-spacing: 1px;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 3rem 0 1rem;
}
h4 {
  margin: 0.5rem 0 0.25rem;
}

ul {
  margin: 0;
}


button,
.button {
  background: rgb(16, 68, 145);
  border-style: solid;
  border-width: 0 0 3px;
  border-color: rgb(11, 42, 88);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-family: 'Homenaje', sans-serif;
  font-size: 1rem;
  margin: 0 0 0.5rem;
  padding: 0.5rem 0.75rem;
}