/* You can add global styles to this file, and also import other style files */


@import url('https://fonts.googleapis.com/css?family=Dosis|PT+Sans+Narrow|Saira+Condensed');

html {
  font-size: 18px;
  font-family: "Saira Condensed", sans-serif;
}

h1 {
  margin: 0;
}

h3 {
  margin: 3rem 0 1rem;
}
h4 {
  margin: 0.5rem 0 0.25rem;
}

ul {
  margin: 0;
}