<div class="station-filters">

  <div class="station-filters__header filter-header">
    <h2 class="station-filters__title">Select a Station:</h2>
    <button
      class="filter-header__toggle"
      (click)="toggleFilters()"
      [ngClass]="{'active': isActive}">Filter Stations</button>
  </div>

  <form *ngIf="isActive" [formGroup]="filters" (change)="updateSelectedLines()">
    <label>
      <input
        formControlName="showA11y"
        name="showA11y"
        type="checkbox" />
        Only show accessible stations
    </label>
    <fieldset class="grid" formArrayName="selectedLines">
      <legend>Filter by Lines</legend>
      <label *ngFor="let filter of filters.get('selectedLines')['controls']; let i=index">
        <input
          [formControlName]="i"
          name="selectedLines"
          type="checkbox" />
          {{lines[i]}}
      </label>
    </fieldset>
  </form>
</div>
