.filters-toggle {

    margin-bottom: 0;
    position: absolute;
    right: 0;
    bottom: 0;

    &.active {
        background: rgba(0,0,0,0.5);
        border-color: transparent;
        border-radius: 5px 5px 0 0;
    }
}

.station-filters {

    margin-bottom: 1rem;
    transition: height 2s;
    transition-delay: 2s;

    &__title {
        margin-bottom: 0;
    }

    &__header {
        min-height: 3rem;
        padding-right: 7rem;
        position: relative;
    }

    form {

        background: rgba(0,0,0,0.5);
        padding: 1rem;
        margin-top: 0;

        input[type='checkbox'] {
            margin: 0 0.5rem 0 0;
        }

        label {
            cursor: pointer;
            display: inline-block;
            padding: 0.5rem 1rem;
        }
        
        fieldset {
        
            border: 1px solid rgba(255,255,255,0.25);
            padding: 0.5rem 0;
            margin: 0.5rem 0;

            @media screen and (min-width: 20rem) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media screen and (min-width: 28rem) {
                grid-template-columns: repeat(3, 1fr);
            }

            @media screen and (min-width: 38rem) {
                grid-template-columns: repeat(4, 1fr);
            }
            @media screen and (min-width: 58rem) {
                grid-template-columns: repeat(5, 1fr);
            }
            @media screen and (min-width: 80rem) {
                grid-template-columns: repeat(6, 1fr);
            }
        
            label {
                padding: 0.5rem 1rem;
            }
        
            legend {
                padding: 0 1rem;
            }
        }
    }
}