fieldset {

    border: 1px solid rgba(255,255,255,0.25);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    label {
        cursor: pointer;
        flex: 0 1 25%;
        margin: 0;
        padding: 0.5rem 1rem;
    }

    legend {
        padding: 1rem;
    }
}