.filters-toggle {

    margin-bottom: 0;
    position: absolute;
    right: 0;
    bottom: 0;

    &.active {
        background: rgba(0,0,0,0.5);
        border-color: transparent;
        border-radius: 5px 5px 0 0;
    }
}

.station-filters {

    margin-bottom: 1rem;
    transition: height 2s;
    transition-delay: 2s;

    &__title {
        margin-bottom: 0;
    }

    &__header {
        min-height: 3rem;
        padding-right: 7rem;
        position: relative;
    }

    form {
        background: rgba(0,0,0,0.5);
        padding: 1rem;
        margin-top: 0;
    }
}