.global-footer {

    background: rgba(5, 41, 95, 0.9);
    color: #CCC;
    font-size: 0.8rem;
    padding: 1rem;
    text-align: center;

    a {
        color: #fff;
    }

    &__yelp {
        align-items: center;
        display: flex;
        justify-content: center;
    }
}