
@import '~styles/variables';

.global-header {
    
    
    border-bottom: 1px solid map-get($colors--border, 'subtle');
    box-shadow: 0 3px 5px rgba(0,0,0,0.25);
    padding: map-get($spacing, 'outer');
    text-align: center;

    .logo {

        color: map-get($colors--font, 'main');
        font-size: 1.5rem;
        letter-spacing: 1px;
        line-height: 1;
        margin: 0;
        text-transform: uppercase;
        text-shadow: 0 1px 2px rgba(0,0,0,0.5);

        span {
            border-width: 1px 0;
            border-style: solid;
            border-color: map-get($colors--border, 'defined');
            bottom: 3px;
            display: inline-block;
            font-size: 0.6em;
            line-height: 1.1;
            position: relative;
            vertical-align: baseline;
        }
    }
    p {
        color: map-get($colors--font, 'secondary');
        font-size: 0.9rem;
        margin: 0;
    }
}