
main {
    box-shadow: 0 3px 5px rgba(0,0,0,1);
    color: #fff;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
}

.blurb {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 1rem auto;
    max-width: 30rem;
    text-align: center;
    button {
        flex: 0 0 auto;
    }
}