<div *ngIf="!displayStation">
  <h2>Select a Station:</h2>
  <ul class="station-list">
    <li *ngFor="let station of stations">
      <button
        class="station-button"
        (click)="selectStation(station)">
        <app-station-detail [station]="station"></app-station-detail>
      </button>
    </li>
  </ul>
</div>

<div *ngIf="displayStation">
  <h2>Selected Station:</h2>
  <app-station-detail [station]="displayStation"></app-station-detail>
  <button (click)="reset()">Pick a different station</button>
</div>