@import '~styles/variables';

.station-button {

    align-items: stretch;
    display: flex;
    font-weight: 400;
    height: 100%;
    padding: 0.65rem 1.25rem;
    position: relative;
    transition: ease-in 0.05s transform;
    width: 100%;

    &:hover,
    &:focus {
        background: rgba(255,255,255,0.15);
        border-color: rgba(255,255,255,0.20);
        transform: scale(1.05);
    }
}

.selected-station {

    align-content: center;
    background: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -1rem -1rem 0;
    padding: 1rem;

    & > * {
        flex: 1 0 auto;
    }

    & > button {
        flex: 1 0 100%;
        margin: 1rem 0 0;
    }

    .selected-station__title {
        border-bottom: 1px solid rgba(255,255,255,0.25);
        flex: 1 0 100%;
        font-size: 0.9rem;
        margin-bottom: 1rem;
        margin-top: 0;
    }

    @media screen and (min-width: 36rem) {
        & > button {
            flex: 0 0 auto;
            margin: 0 0 0 1rem;
        }
    }
}