.station-list {
    border: 1px solid #ccc;
    max-height: 20rem;
    list-style-type: none;
    padding: 0;
    overflow-y: scroll;
}

.station-button {
    display: block;
    padding: 1rem;
    width: 100%;
}