<h2>Stations</h2>

<div >
  <h3>Select a Station:</h3>
  <ul 
    class="station-list"
    *ngIf="!selectedStation">
    <li *ngFor="let station of stations">
      <button
        class="station-button"
        (click)="onSelect(station)">
        <app-station-detail [station]="station"></app-station-detail>
      </button>
    </li>
  </ul>
</div>

<div *ngIf="selectedStation">
  <app-station-detail [station]="selectedStation"></app-station-detail>
  <button (click)="selectedStation = null">Pick a different station</button>
</div>
