<h2>Stations</h2>

<div *ngIf="selectedStation">
  <h3>{{selectedStation.name}} Station</h3>
  <button (click)="selectedStation = null">Pick a different station</button>
</div>

<div *ngIf="!selectedStation">
  <h3>Select a Station:</h3>
  <ul role="listbox" id="station_listbox" name="station_listbox" class="list--listbox">
    <li *ngFor="let station of stations"
      aria-selected="false"
      (click)="onSelect(station)"
      role="option"
      value="{{station.location}}">
        {{station.name}} Station<br />
        Lines: <span className="station-lines">{{station.lines.active.join(', ')}}</span><br />
        <img *ngIf="station.accessible" src="/assets/img/a11y-icon.svg" alt="accessible" />
    </li>
  </ul>
</div>