
.station-detail {

    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;

    &__title {
        display: inline;
        vertical-align: baseline;
    }

    &__lines {
        display: block;
        line-height: 1;
        text-transform: capitalize;
    }
}

.station__icon {

    display: flex;
    flex-direction: column;
    justify-content: center;

    svg {
        fill: #FFF;
        height: 1.866rem;
    }
}