
.station-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;

    h4 {
        margin: 0;
    }

    &__lines {
        text-transform: capitalize;
    }
}