.station-button {
    display: block;
    padding: 0.5rem;
    position: relative;
    text-align: left;
    width: 100%;
    img {
        position: absolute;
        right: 1rem;
        top: 0.5rem;
    }
}