
@import '~styles/variables';

.info-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    &__item--inline {
        display: inline-block;

        & + &::before {
            content: " \2022 ";
        }
    }

    &--inline {

        li {
            display: inline-block;
            margin: 0;
            padding: 0;
            &::after {
                content: "\00a0/\00a0";
            }
            
            &:last-child::after {
                content: none;
            }
        }
    }
}


.result {

    position: relative;

    &__header {
        background:rgba(11, 63, 141, 0.32);
        border-bottom: 1px solid rgba(255,255,255, 0.125);
        margin: 0 -1rem 1rem -1rem;
        padding: 0.5rem 1rem;
    }
    
    &__categories {
        font-size: 0.9rem;
    }
    
    &__rating {
    
        margin-bottom: 1rem;
    
        &__stars {
            align-items: center;
            display: flex;
        }
    
        &__count {
            padding-left: 0.5rem;
        }
    }
    
    &__footer {
    
        align-items: center;
        border-top: 1px solid rgba(255,255,255,0.10);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1rem 0;
        padding: 0.5rem;
    
        .yelp-button {
            align-items: center;
            color: #fff;
            display: flex;
            flex: 1 0 auto;
            justify-content: center;
            margin: 0;
            padding: 0.5rem 0.5rem 0.5rem 1rem;
        }
    
        @media screen and (min-width: 30rem) {
            margin: 1rem -1rem 0;
        }
    }
}