<form [formGroup]="resultFilters" (change)="updateResultFilters()">
  <h2>Result Filters</h2>
  <div class="grid">
    <fieldset formArrayName="prices">
        <legend>Only show these pricepoints:</legend>
        <label *ngFor="let price of priceValues; let i=index;">
        <input [formControlName]="i" name="prices" type="checkbox" value={{price}} />
        {{makePriceLabel(i+1)}} <span class="no-wrap">({{price}})</span>
        </label>
    </fieldset>
    <fieldset>
        <legend>Sort Results By:</legend>
        <label *ngFor="let sortValue of sortValues">
        <input formControlName="sortBy" name="sortBy" type="radio" value={{sortValue}} /> {{sortValue}}
        </label>
    </fieldset>
    <fieldset>
        <legend>Show businesses that</legend>
        <label>
            <input formControlName="openNow" name="openNow" type="checkbox" value={{openNow}} /> are open now
        </label>
        <label>
            <input formControlName="genderNeutralBathrooms" name="genderNeutralBathrooms" type="checkbox" value={{genderNeutral}} /> have gender neutral bathrooms
        </label>
    </fieldset>
  </div>
  
  <button type="submit">Filter Businesses</button>
</form>
