@import './variables';

/* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  color: map-get($colors--font, 'main');
  display: flex;
  flex-direction: column;
  font-family: map-get($fonts, 'primary');
  justify-content: space-between;
  min-height: 100%;
  margin: 0;
}

