
@import url('https://fonts.googleapis.com/css?family=Dosis|Homenaje');
@import '~styles/variables';

/* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px; 
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: 'Homenaje', sans-serif;
  height: 100vh;
}

body {

  background: linear-gradient(to right, map-get($colors--background, 'light'), lighten(map-get($colors--background, 'light'), 10%));
  margin: 0;
  height: 100vh;

  & > :first-child {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}

h2,
h3 {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

ul {
  margin: 0;
}



button,
.button {
  background: map-get($colors--button, 'background');
  border-style: solid;
  border-width: 0 0 3px;
  border-color: darken(map-get($colors--button, 'background'), 10%);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-family: 'Homenaje', sans-serif;
  font-size: 1rem;
  margin: 0 0 map-get($spacing, 'outer');
  padding: map-get($spacing, 'inner');
  text-decoration: none;
}

input[type='checkbox'],
input[type='radio'] {
    margin: 0 0.5rem 0 0;
}

label {
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1rem;
}

fieldset {

  border: 1px solid rgba(255,255,255,0.25);
  padding: 0.5rem 0 1rem;
  margin: 0.5rem 0;
}