@import url('https://fonts.googleapis.com/css?family=Antonio|Oswald');

$color-blue-0: #001C89;
$color-blue-1: #002FA5;
$color-blue-2: #004EBB;
$color-blue-3: #005DE0;
$color-blue-4: #2776FF;

$color-grey-0: #2E2E38;
$color-grey-1: #44455E;
$color-grey-2: #65668B;
$color-grey-3: #A9AABC;
$color-grey-4: #E2E3E9;
$color-grey-5: #F4F4F7;

$light-main: #fff;
$main: $color-grey-4;
$dark-main: $color-grey-0;
$spot-main: $color-blue-2;

$colors: (
    background: (
        action: $spot-main,
        card: $light-main,
        form: $dark-main,
        dark: $dark-main,
        light: $main,
    ),
    border: (
        accent: $spot-main,
        defined: rgba(255,255,255,0.5),
        subtle: rgba(255,255,255,0.1),
    ),
    button: (
        background: $spot-main,
        background--light: $main,
        font: #FFF,
    ),
    text: (
        main: $dark-main,
        secondary: $color-grey-1,
    ),
);

$colors--background: map-get($colors, 'background');
$colors--border: map-get($colors, 'border');
$colors--button: map-get($colors, 'button');
$colors--text: map-get($colors, 'text');

$fonts: (
    secondary: ('Antonio', sans-serif),
    primary: ('Oswald', sans-serif)
);

$spacing: (
    inner: 0.75rem,
    outer: 1.5rem,
);