@import url('https://fonts.googleapis.com/css?family=Antonio|Oswald');

// $light-main: rgb(23, 80, 167);
// $main: rgb(20, 74, 155);
// $dark-main: darken($main, 10%);

$light-main: #fff;
$main: #e2e2e2;
$dark-main: #333;
$spot-main: #004EBB;

$colors: (
    background: (
        action: $spot-main,
        card: transparentize(mix($main, #FFF, 10%), 0.8),
        form: $dark-main,
        dark: $dark-main,
        light: $main,
    ),
    border: (
        defined: rgba(255,255,255,0.5),
        subtle: rgba(255,255,255,0.1),
    ),
    button: (
        background: $spot-main,
        background--light: $main,
        font: #FFF,
    ),
    font: (
        main: $dark-main,
        secondary: #CCC,
    ),
);

$colors--background: map-get($colors, 'background');
$colors--border: map-get($colors, 'border');
$colors--button: map-get($colors, 'button');
$colors--font: map-get($colors, 'font');

$fonts: (
    secondary: ('Antonio', sans-serif),
    primary: ('Oswald', sans-serif)
);

$spacing: (
    inner: 0.75rem,
    outer: 1.5rem,
);