$light-main: rgb(23, 80, 167);
$main: rgb(20, 74, 155);
$dark-main: darken($main, 10%);

$colors: (
    background: (
        card: transparentize(mix($main, #FFF, 10%), 0.8),
        form: $dark-main,
        dark: #404b69,
        light: $main,
    ),
    border: (
        defined: rgba(255,255,255,0.5),
        subtle: rgba(255,255,255,0.1),
    ),
    button: (
        background: adjust-hue($dark-main, 10%),
        background--light: $main,
        font: #FFF,
    ),
    font: (
        main: #FFF,
        secondary: #CCC,
    ),
);

$colors--background: map-get($colors, 'background');
$colors--border: map-get($colors, 'border');
$colors--button: map-get($colors, 'button');
$colors--font: map-get($colors, 'font');

$spacing: (
    inner: 0.75rem,
    outer: 1rem,
);