@import './variables';
@import './global';

.grid {
    display: grid;
    grid-gap: 1rem;
    grid-auto-rows: minmax(max-content, auto);
    list-style-type: none;
    margin: 1rem 0;
    padding: 0;
    position: relative;

    @media screen and (min-width: 38rem) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: 58rem) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (min-width: 80rem) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {

    background: map-get($colors--background, 'card');
    border: 1px solid map-get($colors--border, 'subtle');
    border-radius: 3px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 0 1rem;
    position: relative;

    &--slab {
       flex-direction: row; 
    }

    &__title {
        font-weight: 600;
        letter-spacing: 1px;
        margin: 0;
        text-transform: uppercase;
    }
}

.no-wrap {
    white-space: nowrap;
}
