@import '../../styles/variables';

.StationInfo {
  
  &__title {
    font-weight: 300;
    margin: 0;
  }
  
  &__details {

    color: map-get($colors--text, 'secondary');
    display: grid;
    font-size: 11px;
    font-weight: 400;
    grid-template-columns: 3rem auto;
    grid-template-rows: auto;
    margin: 0;
    text-transform: uppercase;

    dt, dd {
      margin: 0;
      padding: 0;
    }

    dt {
      grid-column: 1;
    }

  }
}